<div id="void">
<div>
  <%= message(:no_account?) %> <%= link_to t(:sign_up), signup_path %>!
</div>
<div class="clear"></div>
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, ft(:username)+t(:or)+ft(:email) %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password, ft(:password) %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag t(:log_in), :class => :submit %></p>
<% end %>
</div>
