<div id="star1"><%= image_tag "/images/star1.png" %></div>
<div id="star2"><%= image_tag "/images/star2.png" %></div>
<div id="star3"><%= image_tag "/images/star3.png" %></div>
<div id="star4"><%= image_tag"/images/star4.png" %></div>
<div id="star5"><%= image_tag"/images/star2.png" %></div>
<div id="star6"><%= image_tag"/images/star4.png" %></div>

<div id="side_menu_container">
  <div id="side_bar_container">
    <div id="side_bar">
      <ul>
        <li><%= link_to "Events" %></li>
        <li><%= link_to "Gallery" %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div id="tweet_container">
    <h1>Mama Tweets</h1>
    <div class="tweet">
      <div id="content">
        沖縄楽しかったにょ~
      </div>
      <div id="ago">2 hours ago</div>
    </div>
    <div class="tweet">
      <div id="content">
        毎日蟹ちゃん食てる
      </div>
      <div id="ago">2 days ago</div>
    </div>
  </div>
</div>

<div id="news_flow_container">
  <div id="news_flow">
    <div class="feed">
      <h1>Shop Open</h1>
      <div id="time">4月25日</div>
      <div id="content">大西洋ではニューファンドランド島とグリーンランド
        の沖からノルウェー北部沖にかけて、日本海、オホーツク海、太平洋では
        ベーリング海、アメリカ合衆国アラスカ州のアラスカ湾とノートン湾に分
        布する。<br />
        <span id="continue"><%= link_to "つづく..." %></span>
      </div>
    </div>
    <div class="feed">
      <h1>Mama back from Okinawa</h1>
      <div id="time">4月22日</div>
      <div id="content">日本ではヤシガニのその名前や言い伝えから、「ヤシ
        の木に登りヤシの実を落として食べるカニ」としてのイメージが定着して
        いる。<br />
        <span id="continue"><%= link_to "つづく..." %></span>
      </div>
    </div>
  </div>
</div>

