<li class="event">
  <h1><%= event.name %></h1>
  <div id="time" class="time"><%= event.when %></div>
  <% if links %>
  <div id="top_links">
    <% if can? :edit, event %>
    <%= link_to t(:edit), edit_event_path(event) %> |
    <% end %>
    <% if can? :destroy, event %>
    <%= link_to t(:delete), event, :confirm => sure?, :method => :delete %> |
    <% end %>
    <% if can? :index, event %>
    <%= link_to all(:event), events_path %>
    <% end %>
  </div>
  <% end %>
  <% if truncate %>
  <div id="content"><%= truncate(event.content, :length=>50) %>
    <span id="continue"><%= link_to "つづく...", event if can? :show, event %></span>
  </div>
  <% else %>
  <div id="content"><%= event.content %></div>
  <% end %>
  <% if thumbs && event.gallery %>
  <div id="thumbs">
    <ul class="thumbs">
      <% @pictures.each do |pic| %>
      <li><%= image_tag pic.file_url(:thumb), :title => pic.caption %></li>
      <% end %><br />
      <span id="gallery"><%= link_to t(:gallery), event.gallery %> &rsaquo;&rsaquo;</span>
      <div class="clear"></div>
    </ul>
  </div>
  <% end %>
</li>
