<div id="main_container">
  <div id="list">

    <ul id="events">
      <% for event in @events %>
      <li>
        <span id="name"><%= event.name %></span>
        <span id="links">
          <%= link_to t(:gallery), event if can? :show, event %>
          <%= link_to t(:edit), edit_event_path(event) if can? :edit, event %>
          <%= link_to t(:del), event, :confirm => sure?, :method =>
          :delete if can? :destroy, event %>
        </span>
        <div class="clear"></div>
        <span id="time"><%= event.when %></span>
      </li>
      <% end %>
    </ul>

    <div id="bottom_links">
      <%= link_to new(:event),
          new_event_path if can? :new, Event %>
    </div>
  </div>
</div>
