<div id="side_menu_container">
  <div id="user_nav">
    <% if current_user %>
    <%= link_to t(:log_out), logout_path %>
    <% else %>
    <%= link_to t(:sign_up), signup_path %>
    <%= link_to t(:log_in), login_path %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div id="side_bar_container">
    <div id="side_bar">
      <ul>
        <li class="<%= request.url =~ /events/ ? "selected" : "" %>"><%= link_to "Events", events_path %></li>
        <li class="<%= request.url =~ /galleries/ ? "selected" : "" %>"><%= link_to "Gallery", galleries_path %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <% if !(request.url =~ /show2/) %>
  <div id="tweet_container">
    <h1>Mama Tweets</h1>
    <div class="tweet">
      <div id="content">
        <%# @tweet.text %>
      </div>
      <div id="ago">
        <%# distance_of_time_in_words_to_now(Time.parse(@tweet.created_at))%>
        5分前
      </div>
    </div>
  </div>
  <% end %>
</div>
