<div id="side_menu_container">
  <div id="user_nav">
    <% if current_user %>
    <%= link_to t(:log_out), logout_path %>
    <% else %>
    <%= link_to t(:sign_up), signup_path %>
    <%= t(:or) %>
    <%= link_to t(:log_in), login_path %>
    <% end %>
  </div>
  <div class="clear"></div>

  <div id="side_bar_container">
    <div id="side_bar">
      <ul>
        <li><%= link_to "Events", welcome_path %></li>
        <li><%= link_to "Gallery", galleries_path %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div id="tweet_container">
    <h1>Mama Tweets</h1>
    <div class="tweet">
      <div id="content">
        沖縄楽しかったにょ~
      </div>
      <div id="ago">2 hours ago</div>
    </div>
    <div class="tweet">
      <div id="content">
        毎日蟹ちゃん食てる
      </div>
      <div id="ago">2 days ago</div>
    </div>
  </div>
</div>
