<div id="star1"><%= image_tag "/images/star1.png" %></div>
<div id="star2"><%= image_tag "/images/star2.png" %></div>
<div id="star3"><%= image_tag "/images/star3.png" %></div>
<div id="star4"><%= image_tag"/images/star4.png" %></div>
<div id="star5"><%= image_tag"/images/star2.png" %></div>
<div id="star6"><%= image_tag"/images/star4.png" %></div>

<%= render "news_flow_container", :events => @events %>
