<div id="star1"><%= image_tag "/images/star1.png" %></div>
<div id="star2"><%= image_tag "/images/star2.png" %></div>
<div id="star3"><%= image_tag "/images/star3.png" %></div>
<div id="star4"><%= image_tag"/images/star4.png" %></div>
<div id="star5"><%= image_tag"/images/star2.png" %></div>
<div id="star6"><%= image_tag"/images/star4.png" %></div>

<div id="side_menu_container">
  <div id="side_bar_container">
    <div id="side_bar">
      <ul>
        <li><%= link_to "Events" %></li>
        <li><%= link_to "Gallery" %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
  <div id="tweet_container">
    <h1>Mama Tweets</h1>
    <div class="tweet">
      <div id="content">
        沖縄楽しかったにょ~
      </div>
      <div id="ago">2 hours ago</div>
    </div>
    <div class="tweet">
      <div id="content">
        毎日蟹ちゃん食てる
      </div>
      <div id="ago">2 days ago</div>
    </div>
  </div>
</div>

<div id="news_flow_container">
  <ul id="news_flow">
    <% @events.each do |event| %>
      <%= render event, :truncate => true %>
    <% end %>
  </ul>
</div>

