<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Mizuki" %></title>
    <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'print.css', :media => 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %>
    <![endif]-->   
    <%= stylesheet_link_tag "galleriffic/basic", "jquery-ui-1.8.12.custom", "jquery-ui-timepicker" %>
    <%= stylesheet_link_tag "application", "formtastic" %>
    <%= stylesheet_link_tag "iphone" if iphone? %>
    <%= javascript_include_tag 'jquery', 'jquery-ui-1.8.12.custom.min', 'jquery.ui.timepicker', 'jquery.galleriffic.js', 'jquery.history.js', 'jquery.opacityrollover.js', 'rails', 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="flash_container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
      <div class="clear"></div>
      <div id="contents">
        <% unless @void %>
        <%= render "/operator/side_menu_container" %>
        <% end %>

        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
